@model HomePageViewModel;
<div class="flex flex-col space-y-1.5">
    <a href="@Url.Action("Index","Project")" class="flex items-center">
        <i class="twa twa-lg twa-memo inline-block" width="25" height="25"></i>
        <span class="ml-1.5 hover:text-orange-600">
            @Model.HomeIntroContentViewModel.Navigator.Project
        </span>
    </a>
    <a href="@Url.Action("Index","Tool")" class="flex items-center">
        <i class="twa twa-hammer-and-wrench twa-lg inline-block" width="25" height="25"></i>
        <span class="ml-1.5 hover:text-orange-600">
            @Model.HomeIntroContentViewModel.Navigator.Tool
        </span>
    </a>
    <a href="@Url.Action("Index","Contact")" class="flex items-center">
        <i class="twa twa-lg twa-telephone inline-block" width="25" height="25"></i>
        <span class="ml-1.5 hover:text-orange-600">
            @Model.HomeIntroContentViewModel.Navigator.Contact
        </span>
    </a>
    <a href="@Url.Action("Index","CV")" class="flex items-center">
        <i class="twa twa-briefcase twa-lg inline-block" width="25" height="25"></i>
        <span class="ml-1.5 hover:text-orange-600">
            @Model.HomeIntroContentViewModel.Navigator.CV
        </span>
    </a>
</div>